@charset "utf-8";


/* 배너 */

.banner {
	position : relative;
	width : 100%;
	height : 700px;
	background: url('../images/photogallery/banner.jpg') no-repeat ;
	background-attachment : fixed;
	background-size : cover;	
}

.banner>p {
	text-align : center;
	line-height : 700px;
	font-size : 40px;
	color : #fff;
}


/* 이미지 */